.button {
    background-color: #000000;
    height: 50px;
    width: 50px;
    border: 0px;
}
.grid-container {
    display: inline-grid;
    grid-template-columns: auto auto auto;
}
.grid-item{
    border: 1px;
    padding: 10px;
}